
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status
{
font-size: 18px;
}

#object{
    width: 100%;
    margin: 0px;
    font-size: 20px;
}
#humanbutton {
    margin: 20px;
    width: 20%;
}

body{
    background-position: center;
    background-size: cover;
}
#backbutton {
    float: right;
}
canvas {
    border-style: dashed;
    border-radius: 20px;
    margin-top: 80px;
}